In [6]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle

In [7]:
#load the trained model ,scaler pickle and one hot

model=load_model('model.h5')  #model

with open('label_encoder_gender.pkl','rb') as file: # gender encoding
  label_encoder_gender=pickle.load(file)

with open('ohe_geo.pkl','rb') as file:
  label_encoder_geography=pickle.load(file)  # geography one hot encoding

with open('scaler.pkl','rb') as file:
  scaler=pickle.load(file)

In [8]:
#example input data

input_data={
  'CreditScore': 600 ,
  'Geography': 'France',
  'Gender': 'Male',
  'Age': 40 ,
  'Tenure': 3,
  'Balance': 60000,
  'NumOfProducts':2,
  'HasCrCard': 1,
  'IsActiveMember': 1,
  'EstimatedSalary':50000
}

In [9]:
#one hot encoding  geography

geography_encoded=label_encoder_geography.transform([[input_data['Geography']]]).toarray()
geography_encoded_df=pd.DataFrame(geography_encoded,columns=label_encoder_geography.get_feature_names_out(['Geography']))
geography_encoded_df

c:\Users\priyanshu gairola\GEn_ai Project\ANN Classification\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [12]:
input_data_df=pd.DataFrame([input_data])
input_data_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [15]:
#encoding gender value

input_data_df["Gender"]=label_encoder_gender.transform(input_data_df["Gender"])
input_data_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [17]:
#comining one hot encoded columns with input data

input_data_df=pd.concat([input_data_df.drop("Geography",axis=1),geography_encoded_df],axis=1)
input_data_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [18]:
#scaling input data

input_scaled=scaler.transform(input_data_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [19]:
#Predict churn

prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 307ms/step

array([[0.02165202]], dtype=float32)

In [26]:
prediction_probability=prediction[0][0]

In [28]:
print(prediction_probability)

0.021652024

In [29]:
if prediction_probability > 0.5:
  print("Customer is likely to churn")

else:
    print("Customer is not likely to churn")

Customer is not likely to churn